body {
    background-color: #EEE;
}

#header{
    background-color: #D6EAF8;
    color: white;
    text-align: center;
    font-size: 100px;
}

#container{
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-size: 200%;
}

#nav{
    width: 300px;
    float: left;
    padding: 0px 0px 500px 50px;
    border: 1px solid black;
}

#main{
    width: 1100px;
    padding: 0px 0px 0px 50px;
    float: left;
}

#content{
    padding: 30px;
}

#copyright{
    clear: both;
    padding: 50px 0px 20px 0px
}

.selected{
    color: #D3D3D3
}

a{
    text-decoration: none;
    color:  #4d79ff
}